migrate-excel-default.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "replace-dados-cadastrais",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data",
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-16, -16],
      "id": "dbaf57c1-a74c-406c-8223-0e74a9c628da",
      "name": "Webhook",
      "webhookId": "00320605-722c-48a4-b899-0cb2e8a40655"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Leads atualizados com sucesso",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [944, -16],
      "id": "f7de4d98-8375-4954-83cf-78cb413b03c3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "1_ZlmzcxrZmcvfKkNBuPL8-90uUSMY9G0MBicA-3mpfU",
          "mode": "id"
        },
        "changeFileContent": true,
        "inputDataFieldName": "data0",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [240, -16],
      "id": "b48a5846-dff9-408c-a535-0e9fc408ac10",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2c1a0d0-0001-4001-8001-000000000001",
              "name": "user_id",
              "value": "={{ $('Webhook').item.json.body?.user_id || $('Webhook').item.json.body?.userId || $('Webhook').item.json.headers?.['x-user-id'] || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [448, -16],
      "id": "7f4419af-2e92-4bc6-93f1-dfead2008955",
      "name": "Anexar user_id"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d9KQ7c0T108nLutF",
          "mode": "id",
          "cachedResultUrl": "/workflow/d9KQ7c0T108nLutF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [656, -16],
      "id": "287e2bfd-8695-436a-803a-da5e7d29fe17",
      "name": "Executar My workflow 5"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Anexar user_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anexar user_id": {
      "main": [
        [
          {
            "node": "Executar My workflow 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar My workflow 5": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
