welmy-pcp-agent/workspaces/Welmy-RAG.json
{
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data || $json.text_for_rag }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID - to Context').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID - to Context').first().json.file_title }}"
              },
              {
                "name": "session_id",
                "value": "={{ $('Set File ID - to Context').first().json.session_id }}"
              },
              {
                "name": "code",
                "value": "={{ $('Set File ID - to Context').first().json.code }}"
              }
            ]
          }
        }
      },
      "id": "5ece67cb-fe10-4864-a34c-6a61f93f1fcf",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [18400, 4416]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 979,
        "width": 4641,
        "color": 5
      },
      "id": "c1939ac4-02e9-4c6e-8c51-6dea0ecd5740",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [14336, 3776]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID - to Context').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "99d004a5-d374-4d02-a936-f68bf2c1a7e5",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [16672, 4144],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "01dfb5b6-5528-4134-a75a-1f30352ad829",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [17376, 4480],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "727ec15d-a67f-4cb8-861f-f432c6fca0a5",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [17344, 3888],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "0a39e6f1-4e2f-4a4f-9a4e-b7f8b1c2c3a1",
              "leftValue": "={{ ($json.text || '').replace(/\\s+/g, '').length }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc9430ba-621e-4fa0-b82a-922d46467ca9",
      "name": "PDF tem texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [17536, 3888]
    },
    {
      "parameters": {
        "jsCode": "// Pré-computa o base64 do PDF E monta o body completo da requisição OCR.\n// Roda direto após o Switch[PDF], então o item ainda tem o binário.\n// Passar o body como objeto JS (e não template string) evita qualquer\n// corrupção do base64 gigante (~10MB) na interpolação do n8n.\nconst items = $input.all();\nconst out = [];\n\nconst ctx = $('Set File ID - to Context').first().json;\nconst fileTitle = ctx?.file_title || 'document';\nconst fileId = ctx?.file_id || '(sem id)';\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  if (!item.binary) {\n    throw new Error('Sem binário no input.');\n  }\n  const binaryKey = item.binary.data ? 'data' : Object.keys(item.binary)[0];\n  let buffer = await this.helpers.getBinaryDataBuffer(i, binaryKey);\n\n  // Detecta PDF criptografado / protegido. Mesmo sem senha de abertura,\n  // PDFs com /Encrypt fazem o Azure OpenAI retornar 500. Tentamos remover\n  // a criptografia em memoria via pdf-lib (ignoreEncryption + re-save).\n  const headSample = buffer.slice(0, Math.min(buffer.length, 8192)).toString('latin1');\n  const tailSample = buffer.slice(-Math.min(buffer.length, 8192)).toString('latin1');\n  const isEncrypted = /\\/Encrypt[\\s<\\d]/.test(headSample) || /\\/Encrypt[\\s<\\d]/.test(tailSample);\n  let decrypted = false;\n  if (isEncrypted) {\n    try {\n      const { PDFDocument } = require('pdf-lib');\n      const srcDoc = await PDFDocument.load(buffer, { ignoreEncryption: true });\n      const cleanDoc = await PDFDocument.create();\n      const pageIdx = srcDoc.getPageIndices();\n      const copied = await cleanDoc.copyPages(srcDoc, pageIdx);\n      copied.forEach(p => cleanDoc.addPage(p));\n      const cleanBytes = await cleanDoc.save({ useObjectStreams: false });\n      buffer = Buffer.from(cleanBytes);\n      decrypted = true;\n    } catch (err) {\n      // Best-effort: se nao conseguirmos remover a protecao, seguimos com o buffer\n      // original. A Azure (Responses API com input_file) costuma aceitar muitos PDFs\n      // que o pdf-lib nao consegue reabrir. Apenas registramos o motivo.\n      console.warn('[Prepare PDF Base64] pdf-lib falhou ao desencriptar \"' + fileTitle + '\" (file_id=' + fileId + '): ' + (err && err.message ? err.message : String(err)));\n    }\n  }\n\n  const base64 = buffer.toString('base64');\n\n  // Azure OpenAI Responses API (suporta PDF nativamente via input_file).\n  // Chat Completions NAO aceita PDF como anexo - era por isso que o OCR voltava vazio.\n  // IMPORTANTE: na Azure a Responses API NAO usa /deployments/{name}/ no path;\n  // o deployment vai como \"model\" no body.\n  const ocrBody = {\n    model: 'gpt-5.4-mini',\n    input: [\n      {\n        role: 'system',\n        content: [\n          { type: 'input_text', text: 'Voce e um OCR. Extraia TODO o texto visivel do documento PDF anexado, preservando ordem de leitura, listas, tabelas e quebras de paragrafo. Nao resuma, nao comente, nao adicione cabecalhos. Retorne apenas o texto bruto extraido. Se uma pagina estiver totalmente em branco ou ilegivel, escreva [PAGINA EM BRANCO].' }\n        ]\n      },\n      {\n        role: 'user',\n        content: [\n          { type: 'input_text', text: 'Transcreva o conteudo deste PDF.' },\n          {\n            type: 'input_file',\n            filename: fileTitle + '.pdf',\n            file_data: 'data:application/pdf;base64,' + base64,\n          },\n        ],\n      },\n    ],\n    max_output_tokens: 16000,\n  };\n\n  item.json = {\n    ...item.json,\n    pdf_size_bytes: buffer.length,\n    pdf_base64_length: base64.length,\n    pdf_was_encrypted: isEncrypted,\n    pdf_decrypted_inline: decrypted,\n    ocr_body: ocrBody,\n  };\n  out.push(item);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [17168, 3888],
      "id": "b70e3780-4ac5-4839-b7de-cd6fb96bdee0",
      "name": "Prepare PDF Base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dt-modelos-ia-resource.cognitiveservices.azure.com/openai/responses?api-version=2025-04-01-preview",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "azureOpenAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Prepare PDF Base64').item.json.ocr_body) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "6f9cd178-f751-4463-91d2-21dac0d08bef",
      "name": "OCR via Azure (gpt-5.4-mini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [17728, 4272],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "azureOpenAiApi": {
          "id": "xby4FSbCaCnssJxl",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6dac2c3-4e4f-4012-b132-3a3c3a3c3c03",
              "name": "text",
              "value": "={{ $json.output_text || ($json.output || []).flatMap(o => (o.content || []).map(c => c.text || '')).join('\\n') || '' }}",
              "type": "string"
            },
            {
              "id": "d6dac2c3-4e4f-4012-b132-3a3c3a3c3c04",
              "name": "ocr_used",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b33b98b9-c32b-4e61-8c59-fde7a3eb6130",
      "name": "Set OCR Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [17904, 4272]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "cb5199e2-979f-4ae3-a384-e1b7dc3ef62d",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [17376, 4064]
    },
    {
      "parameters": {},
      "id": "40a77a41-a821-4eea-bbb0-ddfa6994a61a",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [18368, 4560]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "4b553f51-7979-4e07-9572-6eeb8d3a8aeb",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [17728, 4064]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "c6dc13e9-16a9-4717-bfe8-2ef356c3a405",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [16848, 4112]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "wl_documents",
          "mode": "list",
          "cachedResultName": "wl_documents"
        },
        "options": {
          "queryName": "wl_match_documents"
        }
      },
      "id": "c6fb9017-e646-451a-9f6c-a91322876619",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [18384, 4208],
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "83161251-f096-4aa3-8313-41684d4ac2e8",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [17168, 4064]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [18144, 3936],
      "id": "0d695ee3-cfc8-4fa1-95fd-228e9829ed61",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [17168, 4240],
      "id": "9d587293-2017-4337-bdca-963ff5a6164c",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [15296, 4096],
      "id": "eaf75974-6b65-461c-be8f-2d68dcc86c2e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "wl_document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID - to Context').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [16304, 4240],
      "id": "fd162206-4834-4e54-991b-6e362560b6e7",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "wl_document_rows",
          "mode": "list",
          "cachedResultName": "wl_document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [17376, 4240],
      "id": "a75fdcff-d1b4-4a8d-b6cb-8818620d114d",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "wl_document_metadata",
          "mode": "list",
          "cachedResultName": "wl_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": ["file_id"],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [18368, 3936],
      "id": "8c9304fb-dcd1-42ba-9d23-25aba1dd3208",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1400,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [11600, 3776],
      "typeVersion": 1,
      "id": "741b40aa-f8d3-4d66-8e00-575f401bdf7e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 200,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "139W-HfLxR7y3XzFHv8VULfy8tnTZ2FcO",
            "mode": "id"
          }
        },
        "options": {
          "fields": ["*"]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [14688, 3888],
      "id": "c7b963da-2be8-4ba5-b6b4-08c2ec181d5f",
      "name": "Search files and folders",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM wl_documents \nWHERE metadata->>'file_id' = '{{ $json.file_id }}'\nAND (metadata->>'session_id' IS NULL OR metadata->>'session_id' = '');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [16112, 3984],
      "id": "ca69387f-9522-4568-b2a8-7b6bdf91bfaa",
      "name": "Delete Old Doc Rows1",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "name": "={{ $now.format('dd-LL-yyyy') }}_{{ $binary.data0.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "139W-HfLxR7y3XzFHv8VULfy8tnTZ2FcO",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [14832, 4304],
      "id": "d23cfdd9-3ea4-4847-8bfe-b9607318be80",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-rag-upload",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [14528, 4400],
      "id": "2e906cf6-cd14-4908-aae2-0759b2d5dec5",
      "name": "InsertFile-drive",
      "webhookId": "f9870744-c0e5-422a-9346-036341f2765a"
    },
    {
      "parameters": {
        "content": "## 1. Setup Inicial (Execute 1x via Webhook)\nCria TODAS as tabelas:\n- document_metadata (Arquivos)\n- document_rows (Linhas Excel/CSV)\n- chat_message (Histórico de Chat)\n- documents (Vetores RAG)",
        "height": 653,
        "width": 863,
        "color": 3
      },
      "id": "0c78a300-c65f-4dd2-b7fc-44fcbe4dcdbb",
      "name": "Sticky Note Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [13456, 3792]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Welmy — setup SEGURO. As migrations 002-004 sao a fonte da verdade e rodam como owner.\n-- Este no NUNCA faz ALTER em tabela existente (evita 'must be owner'); so cria se faltar.\nDO $$\nBEGIN\n  IF to_regclass('public.wl_document_metadata') IS NULL THEN\n    CREATE TABLE wl_document_metadata (\n      file_id TEXT PRIMARY KEY, title TEXT, code TEXT, url TEXT, source TEXT,\n      mime_type TEXT, schema JSONB, session_id TEXT,\n      created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),\n      updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n    );\n    CREATE INDEX IF NOT EXISTS idx_wl_meta_code    ON wl_document_metadata(code);\n    CREATE INDEX IF NOT EXISTS idx_wl_meta_session ON wl_document_metadata(session_id);\n  END IF;\n\n  IF to_regclass('public.wl_document_rows') IS NULL THEN\n    CREATE TABLE wl_document_rows (\n      id BIGSERIAL PRIMARY KEY,\n      dataset_id TEXT NOT NULL REFERENCES wl_document_metadata(file_id) ON DELETE CASCADE,\n      row_data JSONB NOT NULL,\n      created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n    );\n    CREATE INDEX IF NOT EXISTS idx_wl_rows_dataset ON wl_document_rows(dataset_id);\n  END IF;\n\n  IF to_regclass('public.wl_chat_message') IS NULL THEN\n    CREATE TABLE wl_chat_message (\n      id BIGSERIAL PRIMARY KEY, session_id TEXT NOT NULL, message JSONB NOT NULL,\n      user_id UUID, created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()\n    );\n    CREATE INDEX IF NOT EXISTS idx_wl_chat_session ON wl_chat_message(session_id);\n  END IF;\nEXCEPTION WHEN OTHERS THEN NULL;\nEND $$;",
        "options": {}
      },
      "id": "0cc07ace-780c-46b0-ba28-df587a58d737",
      "name": "Create Standard Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [13856, 4016],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Welmy — garante a tabela de vetores SEM exigir ownership. A funcao wl_match_documents\n-- e definida na migration 003 (com ACL); NAO recriar aqui.\nDO $$\nBEGIN\n  IF to_regclass('public.wl_documents') IS NULL THEN\n    CREATE TABLE wl_documents (\n      id bigserial PRIMARY KEY, content text, metadata jsonb, embedding vector(1536)\n    );\n    CREATE INDEX IF NOT EXISTS idx_wl_docs_file_id      ON wl_documents ((metadata->>'file_id'));\n    CREATE INDEX IF NOT EXISTS idx_wl_docs_metadata_gin ON wl_documents USING GIN (metadata);\n  END IF;\nEXCEPTION WHEN OTHERS THEN NULL;\nEND $$;",
        "options": {}
      },
      "id": "79b6fa0f-db77-47a8-8492-20b5ba4db3e3",
      "name": "Create Vector Table & Functions1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [14048, 4016],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Reset dos documentos GLOBAIS (mantem anexos de sessao). Sem DDL que exija ownership.\n-- Apaga os vetores globais (sem session_id)\nDELETE FROM wl_documents \nWHERE metadata->>'session_id' IS NULL;\n\n-- Apaga metadados globais (CASCADE remove wl_document_rows)\nDELETE FROM wl_document_metadata \nWHERE session_id IS NULL;",
        "options": {}
      },
      "id": "dacd4b10-f995-410b-a54d-32d516838da3",
      "name": "Delete DRIVE Data Only1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [14368, 3888],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [13632, 4208],
      "id": "95392a0c-ce28-4de3-8090-5dad98e32b69",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $input.item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $input.item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $input.item.json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $input.item.json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "d79e06cc-823f-47e6-bfa6-dd2f0cb4264d",
              "name": "session_id",
              "value": "={{ $input.item.json.session_id || null }}",
              "type": "string"
            },
            {
              "id": "8bacc4ac-985f-48ee-8dda-03ee17710cdf",
              "name": "code",
              "value": "={{ $input.item.json.code || (($input.item.json.name || '').replace(/\\.[^.]+$/, '')) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4177ae7e-7c78-433a-9263-ef2704906975",
      "name": "Set File ID - to Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [15552, 4112]
    },
    {
      "parameters": {
        "content": "## 3. Limpeza Lenta (Conversas)\nRoda a cada 24h.\nApaga TUDO de sessões antigas (Chat + Docs + Vetores).",
        "height": 820,
        "width": 1276,
        "color": 2
      },
      "id": "b7367277-883d-4f3f-bd3a-1db704d7af05",
      "name": "Sticky Note Session",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [12160, 3792]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "ec644699-6197-4717-bd1a-b2eaa13d7819",
      "name": "24h Trigger (Session)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [12224, 4304]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT file_id AS id \nFROM wl_document_metadata \nWHERE session_id IS NOT NULL ",
        "options": {}
      },
      "id": "e2c29e6e-88c9-49e2-8590-1bcb0c5404d7",
      "name": "Get Expired File IDs1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [12496, 4176],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e3245841-1823-4033-8756-b621b259360f",
      "name": "Loop Expired Files1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [12912, 4192]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "378758c7-406e-496f-926e-21e6950c31e1",
      "name": "Delete from Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [13200, 4304],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. Remove Histórico de Chat Antigo (Removido o '*')\nDELETE FROM wl_chat_message;\n\n-- 2. Remove Vetores Antigos\nDELETE FROM wl_documents \nWHERE metadata->>'session_id' IS NOT NULL;\n\n-- 3. Remove Arquivos/Metadados Antigos\nDELETE FROM wl_document_metadata \nWHERE session_id IS NOT NULL;",
        "options": {}
      },
      "id": "d5339442-ac48-4974-8afa-414aa37bc9fe",
      "name": "Clean Database Records1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [13200, 4096],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-DatabaseSetup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8d950f09-d06f-4942-a251-0b4677a5768b",
      "name": "Webhook Setup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [12224, 4032],
      "webhookId": "1c70aff4-7d8b-4d00-abd9-0ecda88405ee"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"message\": \"Documento processado com sucesso! Memoria RAG atualizada.\", \"file_id\": \"{{ $('Set File ID - to Context').first().json.file_id }}\" }",
        "options": {}
      },
      "id": "f518ae6f-133b-4ba9-a0b6-81c2c5d3e8cb",
      "name": "Confirmar Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [15632, 3856]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nfor (const item of data) {\n  // O comando \"Reflect\" força a deleção sem o editor reclamar de Tipos\n  Reflect.deleteProperty(item, 'binary');\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [18656, 4208],
      "id": "86883298-7e33-4614-8ca6-2c1e6ad150e3",
      "name": "Limpar RAM"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://longflatworm-n8n.cloudfy.live/webhook-test/index-drive\" \\\n     -H \"Content-Type: multipart/form-data\" \\\n     -F \"data=@\\\"PROPOSTA PSI.PDF\\\"\" \\\n     -F \"tipo=proposta\"",
        "height": 224,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [13584, 4576],
      "typeVersion": 1,
      "id": "efab1856-1fee-4354-8152-02e2af45867b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://longflatworm-n8n.cloudfy.live/webhook-test/index-drive\" -F \"data=@\\\"C:\\Users\\admin\\Downloads\\PROPOSTA PSI.PDF\\\"\" -F \"sessionId=sessao-do-giovani-123\" -F \"tipo=proposta\"",
        "height": 208,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [13920, 4592],
      "typeVersion": 1,
      "id": "81599882-59a7-4475-b03f-1d19099e4bd2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd3e7b3c-f167-4b8c-91c5-e599af4bbd84",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [15952, 4208],
      "id": "b59e9835-8581-43e9-bf88-5b2732f46b8a",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id FROM wl_document_metadata WHERE file_id = '{{ $('Set File ID - to Context').item.json.file_id }}'",
        "options": {}
      },
      "id": "11a9c421-62a7-40a7-bfef-3a87a377691e",
      "name": "Check Session Integrity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [15744, 4112],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Acessa os dados de entrada\nconst firstItem = (typeof items !== 'undefined' && items.length > 0) ? items[0] : $input.first();\n\n// 2. Extrai e faz o PARSE do texto JSON\nlet inputData = [];\n\nif (firstItem.json.concatenated_data) {\n    try {\n        // Transformamos o texto \"[{...}]\" em um Array real via JSON.parse\n        inputData = JSON.parse(firstItem.json.concatenated_data);\n    } catch (e) {\n        // Se falhar o parse, tenta usar o json direto caso já seja objeto\n        inputData = firstItem.json.data || [];\n    }\n} else if (Array.isArray(firstItem.json)) {\n    inputData = firstItem.json;\n} else if (firstItem.json.data) {\n    inputData = firstItem.json.data;\n}\n\n// Se o inputData não for uma lista (array), forçamos ser uma lista vazia para não quebrar o loop\nif (!Array.isArray(inputData)) {\n    inputData = []; \n}\n\n// --- INÍCIO DO PROCESSAMENTO ---\n\nconst cleanData = [];\n\nfor (const row of inputData) {\n  // Garante que row é um objeto válido\n  if (typeof row !== 'object' || row === null) continue;\n\n  const cleanItem = {};\n  let textForRag = \"\"; \n\n  // Como os dados já têm as chaves corretas (ex: \"Empresa\", \"CNPJ\"), \n  // iteramos direto sobre elas\n  for (const key in row) {\n    const value = row[key];\n\n    // Verifica se o valor não é nulo, indefinido ou vazio\n    if (value !== undefined && value !== null && value !== '') {\n      cleanItem[key] = value;\n      // Monta o texto para o RAG dinamicamente\n      textForRag += `${key}: ${value}. `;\n    }\n  }\n\n  // Se o objeto não estiver vazio, adiciona a propriedade de texto e insere no array final\n  if (Object.keys(cleanItem).length > 0) {\n    cleanItem.text_for_rag = textForRag.trim();\n    cleanData.push({ json: cleanItem });\n  }\n}\n\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [18128, 4144],
      "id": "a7bd1de2-5e75-4827-a34f-82c00efbfdb1",
      "name": "Limpeza Excel"
    },
    {
      "parameters": {
        "jsCode": "// Limpeza de Docs - lida com saídas dos nós Extract PDF Text (campo \"text\")\n// e Extract Document Text (campo \"data\"). Detecta PDFs sem camada de texto\n// (ex.: digitalizações geradas por PDFCreator) e sinaliza claramente.\n\nconst out = [];\n\nfor (const item of $input.all()) {\n  // 1. Descobre onde está o conteúdo bruto\n  const sourceField = item.json.text != null ? 'text'\n                    : item.json.data != null ? 'data'\n                    : null;\n\n  if (!sourceField) {\n    // Nada para limpar — repassa como veio\n    out.push(item);\n    continue;\n  }\n\n  const raw = String(item.json[sourceField] ?? '');\n\n  // 2. Remove TUDO que não é letra, número, pontuação, espaço ou quebra de linha\n  //    (mata binários que vazam de PDFs problemáticos)\n  let cleanText = raw.replace(/[^\\p{L}\\p{N}\\p{P}\\p{Z}\\n]/gu, '');\n\n  // 3. Remove sequências de escape Unicode incompletas\n  cleanText = cleanText.replace(/\\\\u/g, '');\n\n  // 4. Normaliza espaços/quebras de linha excessivas para medir conteúdo real\n  const meaningful = cleanText.replace(/\\s+/g, '').trim();\n\n  // 5. Detecta PDF sem texto extraível (apenas \\n\\n\\n... do pdf-parse).\n  //    Esses arquivos quase sempre são digitalizações/imagens dentro do PDF\n  //    e precisam de OCR para serem indexados.\n  if (meaningful.length < 20) {\n    const fileTitle = $('Set File ID - to Context')?.first()?.json?.file_title ?? '(desconhecido)';\n    const fileId    = $('Set File ID - to Context')?.first()?.json?.file_id    ?? '(sem id)';\n    const ocrUsed   = item.json.ocr_used === true;\n    throw new Error(\n      `PDF sem texto utilizavel: \"${fileTitle}\" (file_id=${fileId}). ` +\n      (ocrUsed\n        ? `OCR via Azure OpenAI tambem nao retornou texto. Verifique se o deployment tem suporte a visao/PDF e se o arquivo nao esta protegido/corrompido.`\n        : `O arquivo provavelmente e uma digitalizacao/imagem sem camada de texto e o branch OCR nao foi acionado.`)\n    );\n  }\n\n  // 6. Limite de segurança (50k chars) e grava no MESMO campo de origem,\n  //    além de em \"data\" para compatibilidade com o Default Data Loader.\n  const finalText = cleanText.substring(0, 50000);\n  item.json[sourceField] = finalText;\n  item.json.data = finalText;\n\n  out.push(item);\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [18128, 4288],
      "id": "6633a8d4-3483-48be-996f-ac051a6fef8c",
      "name": "Limpeza de Docs"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [18800, 4208],
      "id": "c6ff2b7a-3949-4087-b5b6-3ecbeecfd243",
      "name": "Wait",
      "webhookId": "79b70584-7a14-4c4d-9ce3-6ff01b47128f"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [13552, 4016],
      "id": "43bb6a87-ec23-4282-bee7-2ac0af07fb3d",
      "name": "Wait1",
      "webhookId": "f18070ac-659f-41e0-9fac-920d996cefad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af3fd04e-89dd-4dd9-8726-1ace57d0f4cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [12688, 4016],
      "id": "60ff9491-eb61-4e52-9116-1760e5e7e00a",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "wl_document_metadata",
          "mode": "list",
          "cachedResultName": "wl_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "title": "={{ $('Set File ID - to Context').item.json.file_title }}",
            "url": "={{ $('Set File ID - to Context').item.json.file_url }}",
            "session_id": "={{ $('Set File ID - to Context').item.json.session_id }}",
            "code": "={{ $('Set File ID - to Context').item.json.code }}"
          },
          "matchingColumns": ["file_id"],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "code",
              "displayName": "code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [16480, 4000],
      "id": "274f8d4c-6a54-4514-bd38-6f716074c319",
      "name": "Insert Document Metadata1",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [18240, 4448],
      "id": "4cf61ee0-9a72-4b72-b969-29ed548db51f",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "xby4FSbCaCnssJxl",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Fluxo de RESET (reindex de toda a pasta global): apenas marca session_id null.\nreturn $input.all().map(i => ({\n  json: {\n    ...i.json,\n    session_id: null\n  }\n}));"
      },
      "id": "a947d839-e3c0-46aa-87c4-da8bdad9dc6a",
      "name": "Attach Cat to Drive Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [15008, 3888]
    },
    {
      "parameters": {
        "jsCode": "// Anexa session_id (do body OU query string) ao arquivo recem-enviado.\n// Fluxo de UPLOAD via CHAT (welmy-rag-upload?sessionId=...).\nconst wh = $('InsertFile-drive').first().json;\nconst body = wh.body || {};\nconst query = wh.query || {};\nreturn $input.all().map(i => ({\n  json: {\n    ...i.json,\n    session_id: body.sessionId || body.session_id || query.sessionId || query.session_id || null\n  }\n}));"
      },
      "id": "197050d2-59d5-4203-b5b5-b1625cfa0195",
      "name": "Attach Body to Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [14976, 4304]
    },
    {
      "parameters": {
        "content": "## 4. Upload Unitário (Front Admin)\n\n`POST /webhook/welmy-rag-admin-upload`\nmultipart: `data` (arquivo) + `userId` (uuid do admin).\n\nRAG GLOBAL (sem categorias): todo documento vai para a pasta única do Drive.\nFluxo:\n- Procura no Drive arquivo com nome exato; se existir → Update (mesmo fileId), senão → Upload.\n- Cai no Loop Over Items para reaproveitar o pipeline RAG.",
        "height": 380,
        "width": 760,
        "color": 4
      },
      "id": "37dbb38b-001f-441e-a573-cb436db6d6db",
      "name": "Sticky Note - Upload Unitario",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [11600, 5296]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-rag-admin-upload",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "id": "4570f783-a2eb-4978-af32-53eccd16f52f",
      "name": "Webhook RAG Upload",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [11744, 5456],
      "webhookId": "zfx-rag-upload"
    },
    {
      "parameters": {
        "jsCode": "// Extrai filename e mime do binario 'data'. Upload GLOBAL (sem categoria).\nconst item = $input.first();\nconst body = item.json.body || item.json || {};\n\nconst bin = item.binary && (item.binary.data || item.binary[Object.keys(item.binary)[0]]);\nif (!bin) throw new Error('Arquivo \"data\" nao enviado no multipart.');\n\nconst filename = bin.fileName || body.filename || '';\nif (!filename) throw new Error('Nao foi possivel determinar o nome do arquivo.');\n\nitem.json = {\n  ...item.json,\n  filename,\n  mime_type: bin.mimeType || 'application/octet-stream',\n  user_id: body.userId || body.user_id || null\n};\nreturn item;"
      },
      "id": "c98763e1-1ba8-48fd-9162-823a1be53d02",
      "name": "Parse Upload Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [11952, 5456]
    },
    {
      "parameters": {
        "jsCode": "// Sem categorias no Welmy — apenas repassa o item adiante.\nreturn $input.all();"
      },
      "id": "82e3f9f4-c516-4366-acc9-8b5cc69bc6fb",
      "name": "Lookup Upload Category",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12160, 5456]
    },
    {
      "parameters": {
        "jsCode": "// Upload GLOBAL: usa a pasta unica do Drive do Welmy (sem categoria).\nconst webhook = $('Parse Upload Payload').first().json;\nconst GLOBAL_FOLDER = '139W-HfLxR7y3XzFHv8VULfy8tnTZ2FcO';\nreturn [{\n  json: {\n    filename: webhook.filename,\n    mime_type: webhook.mime_type,\n    drive_folder_id: GLOBAL_FOLDER,\n    user_id: webhook.user_id || null,\n    session_id: null\n  },\n  binary: $('Webhook RAG Upload').first().binary\n}];"
      },
      "id": "414aacc4-b789-49da-96c1-b35d62e4bd0a",
      "name": "Build Upload Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12368, 5456]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.filename }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.drive_folder_id }}",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": ["id", "name", "mimeType", "webViewLink", "trashed"]
        }
      },
      "id": "967868a3-64b1-4d6a-a403-05e4be7d7fda",
      "name": "Search Drive by Filename",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [12576, 5456],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Build Upload Context').first().json;\nconst hits = $input.all().map(i => i.json).filter(f => f && f.id && f.name && !f.trashed);\nconst exact = hits.find(f => f.name === ctx.filename);\nconst binary = $('Build Upload Context').first().binary;\nreturn [{\n  json: {\n    ...ctx,\n    existing_file_id: exact ? exact.id : null,\n    existing_web_view_link: exact ? (exact.webViewLink || null) : null,\n    action: exact ? 'replace' : 'create'\n  },\n  binary\n}];"
      },
      "id": "2d6678dd-3706-4987-a9bb-a7fe57f7f748",
      "name": "Decide Replace or Create",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12784, 5456]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-upload-replace",
              "leftValue": "={{ $json.action }}",
              "rightValue": "replace",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d6131cef-fd13-44ae-8974-633db39e499b",
      "name": "Replace?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [12992, 5456]
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.existing_file_id }}",
          "mode": "id"
        },
        "changeFileContent": true,
        "options": {}
      },
      "id": "6aa6dfa9-ff46-406f-b87f-e01a116fb00b",
      "name": "Drive: Update File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [13200, 5360],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.drive_folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "a3d8daf4-b0c5-4206-ab41-ad23372502f1",
      "name": "Drive: Upload File (no prefix)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [13200, 5552],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Normaliza o resultado do Drive (update OU upload) para o shape esperado\n// pelo Loop Over Items / Set File ID - to Context.\nconst drive = $input.first().json || {};\nconst ctx = $('Decide Replace or Create').first().json;\nconst fileId = drive.id || ctx.existing_file_id;\nif (!fileId) throw new Error('Drive nao retornou file_id apos upload/update.');\nconst dot = ctx.filename.lastIndexOf('.');\nconst code = dot > 0 ? ctx.filename.substring(0, dot) : ctx.filename;\nreturn [{\n  json: {\n    id: fileId,\n    name: ctx.filename,\n    mimeType: drive.mimeType || ctx.mime_type,\n    webViewLink: drive.webViewLink || ctx.existing_web_view_link || null,\n    code,\n    session_id: null\n  }\n}];"
      },
      "id": "fdfb3cb5-9322-4cee-9a3e-24fa3903cf09",
      "name": "Set Upload Item Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [13408, 5456]
    },
    {
      "parameters": {
        "content": "## 5. Reprocessar (Reindex) por file_id\n\n`POST /webhook/welmy-rag-reindex`\nJSON: `{ \"file_id\": \"<id>\" }` ou `{ \"file_ids\": [\"<id1>\", ...] }`.\n\nNão re-upload no Drive — só re-extrai do mesmo file_id e reinsere chunks no vetor.",
        "height": 320,
        "width": 760,
        "color": 6
      },
      "id": "39be4388-d7bc-47ed-8b3c-758207be3407",
      "name": "Sticky Note - Reindex",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [11600, 5856]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-rag-reindex",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "8c62a1f2-28d8-4ed7-9564-eddef12ff0f8",
      "name": "Webhook RAG Reindex",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [11744, 6016],
      "webhookId": "zfx-rag-reindex"
    },
    {
      "parameters": {
        "jsCode": "// Normaliza body: aceita { file_id } | { file_ids: [...] } | { ids: [...] }.\nconst b = ($input.first().json.body) || $input.first().json || {};\nlet ids = [];\nif (Array.isArray(b.file_ids)) ids = b.file_ids;\nelse if (Array.isArray(b.ids)) ids = b.ids;\nelse if (b.file_id) ids = [b.file_id];\nelse if (b.id) ids = [b.id];\nids = ids.map(x => String(x || '').trim()).filter(Boolean);\nif (ids.length === 0) throw new Error('file_id ou file_ids obrigatório.');\nreturn [{ json: { ids, ids_csv: ids.map(s => s.replace(/[^a-zA-Z0-9_\\-\\.]/g, '')).join(',') } }];"
      },
      "id": "5ca510d1-b6bf-4293-9ea5-cf775dd00c2f",
      "name": "Normalize Reindex IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [11952, 6016]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT m.file_id AS id,\n       COALESCE(m.title, m.file_id) AS name,\n       COALESCE(m.mime_type, 'application/octet-stream') AS \"mimeType\",\n       m.url AS \"webViewLink\",\n       m.code AS code\nFROM wl_document_metadata m\nWHERE m.file_id = ANY(string_to_array('{{ $json.ids_csv }}', ','));",
        "options": {}
      },
      "id": "9564c858-3d25-4c80-adbe-be5fee15903d",
      "name": "Fetch Reindex Metadata",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [12160, 6016],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Garante session_id null e mantem o shape esperado pelo Loop Over Items.\nconst rows = $input.all();\nif (rows.length === 0) throw new Error('Nenhum documento encontrado para os file_ids fornecidos.');\nreturn rows.map(r => ({\n  json: {\n    id: r.json.id,\n    name: r.json.name,\n    mimeType: r.json.mimeType,\n    webViewLink: r.json.webViewLink,\n    code: r.json.code,\n    session_id: null\n  }\n}));"
      },
      "id": "5aa89e01-bf7b-4c31-8e9c-10679c08d10a",
      "name": "Set Reindex Item Shape",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12368, 6016]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'queued', reindex_count: $('Normalize Reindex IDs').first().json.ids.length, ids: $('Normalize Reindex IDs').first().json.ids } }}",
        "options": {}
      },
      "id": "63fe1c6b-eaa2-4dbf-ae6b-540df4dcb654",
      "name": "Respond Reindex Queued",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [12576, 6016]
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "PDF tem texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF tem texto?": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR via Azure (gpt-5.4-mini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare PDF Base64": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR via Azure (gpt-5.4-mini)": {
      "main": [
        [
          {
            "node": "Set OCR Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpeza Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Prepare PDF Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Limpar RAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Confirmar Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set File ID - to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Attach Cat to Drive Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Attach Body to Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertFile-drive": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Standard Tables": {
      "main": [
        [
          {
            "node": "Create Vector Table & Functions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vector Table & Functions1": {
      "main": [
        [
          {
            "node": "Delete DRIVE Data Only1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete DRIVE Data Only1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID - to Context": {
      "main": [
        [
          {
            "node": "Check Session Integrity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h Trigger (Session)1": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expired File IDs1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Expired Files1": {
      "main": [
        [
          {
            "node": "Clean Database Records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete from Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Database Records1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Setup": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar RAM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Integrity": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza Excel": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza de Docs": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata1": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Attach Cat to Drive Files": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Body to Upload": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Upload": {
      "main": [
        [
          {
            "node": "Parse Upload Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Upload Payload": {
      "main": [
        [
          {
            "node": "Lookup Upload Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Upload Category": {
      "main": [
        [
          {
            "node": "Build Upload Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upload Context": {
      "main": [
        [
          {
            "node": "Search Drive by Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Drive by Filename": {
      "main": [
        [
          {
            "node": "Decide Replace or Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Replace or Create": {
      "main": [
        [
          {
            "node": "Replace?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace?": {
      "main": [
        [
          {
            "node": "Drive: Update File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Drive: Upload File (no prefix)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Update File": {
      "main": [
        [
          {
            "node": "Set Upload Item Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload File (no prefix)": {
      "main": [
        [
          {
            "node": "Set Upload Item Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Upload Item Shape": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Reindex": {
      "main": [
        [
          {
            "node": "Normalize Reindex IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Reindex IDs": {
      "main": [
        [
          {
            "node": "Fetch Reindex Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reindex Metadata": {
      "main": [
        [
          {
            "node": "Set Reindex Item Shape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Reindex Item Shape": {
      "main": [
        [
          {
            "node": "Respond Reindex Queued",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Reindex Queued": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
