welmy-pcp-agent/workspaces/Welmy-Ingest.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-ingest",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "ecd1c2dd-f931-424e-bf76-2f1b4102b677",
      "name": "Receive Report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-368, 144],
      "webhookId": "welmy-ingest"
    },
    {
      "parameters": {
        "jsCode": "// Descobre o tipo do arquivo (PDF x planilha) e mantém o binário para extração.\nconst item = $input.first();\nconst bin = (item.binary && item.binary.data) || {};\nconst name = (bin.fileName || '').toString().toLowerCase();\nconst mime = (bin.mimeType || '').toString().toLowerCase();\nlet kind = 'spreadsheet';\nif (name.endsWith('.pdf') || mime.includes('pdf')) kind = 'pdf';\nreturn [{ json: { kind, arquivo: bin.fileName || 'Relatório de Necessidades' }, binary: item.binary }];"
      },
      "id": "dd013383-f1f6-4e6d-835d-67d2d53e32ac",
      "name": "Detect Kind",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-176, 144]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "k1",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "39c276c6-755a-4c8f-add8-53dd381a5da2",
      "name": "É PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-16, 144]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a99e8eeb-7a98-4b6c-84e9-ce62e8567d1e",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [224, 32]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true,
          "rawData": false
        }
      },
      "id": "9c2dd658-b888-4f63-9fe8-a40f263668fc",
      "name": "Parse Spreadsheet",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [208, 256]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza linhas do Relatório de Necessidades e separa os metadados do upload.\n// Aceita planilha (Excel/CSV) e PDF (parser best-effort). Risco/lead time fica no banco.\nconst meta = ($('Receive Report').first().json.body) || {};\nconst comp = (meta.competencia || '').toString().trim();\n// '2026-06' (input type=month) -> primeiro dia do mês; senão null\nconst competencia = comp ? (comp.length === 7 ? comp + '-01' : comp) : null;\nconst items = $input.all();\nconst first = items[0] && items[0].json;\nconst isPdf = items.length === 1 && first && typeof first.text === 'string' && first.text.length > 40;\nlet rows = [];\nif (isPdf) {\n  // pdf-parse do n8n (v1.x) extrai numeros COLADOS (sem espaco) e o C/F no meio;\n  // outras versoes separam por espaco. Este parser tolera os dois formatos.\n  //   CODIGO - DESCRICAO+UND <n1..n9> C|F <n10>\n  //   n9 = Necessidade final (liquida do ERP); n8 = Total Saidas (bruta);\n  //   n1 = Ped. Compra; n10 (apos C/F) = Est. Disp + Alo (estoque atual).\n  const UNITS = ['PC','UN','KG','M2','M3','MT','LT','CX','PR','PT','RL','CJ','GR','ML','BR','MM','CM','M'];\n  const reNum = /-?\\d{1,3}(?:\\.\\d{3})*,\\d{4}/g;\n  const reItem = /^(\\S+)\\s*-\\s*(.*?,\\d{4})\\s*([CF])\\s*(-?\\d{1,3}(?:\\.\\d{3})*,\\d{4})\\s*$/;\n  for (const raw of first.text.split(/\\r?\\n/)) {\n    const line = (raw || '').trim();\n    if (!line) continue;\n    const m = line.match(reItem);\n    if (!m) continue;\n    const nums = (m[2].match(reNum) || []);\n    if (nums.length < 2) continue;\n    let descUnid = m[2].replace(reNum, '').trim();\n    let unidade = '';\n    for (const u of UNITS) {\n      if (descUnid.toUpperCase().endsWith(u)) { unidade = u; descUnid = descUnid.slice(0, descUnid.length - u.length).trim(); break; }\n    }\n    rows.push({\n      codigo: m[1].trim(),\n      descricao: descUnid,\n      unidade,\n      grupo: m[3] === 'F' ? 'fabricado' : 'comprado',\n      estoque_atual: m[4],\n      pedido_aberto_qtd: nums[0] || '0',\n      necessidade_bruta: nums[nums.length - 2],\n      necessidade: nums[nums.length - 1]\n    });\n  }\n} else {\n  rows = items.map((i) => i.json).filter((o) => o && Object.keys(o).length);\n}\nreturn [{ json: {\n  label: (meta.label || '').toString().trim() || 'Relatório de Necessidades',\n  competencia,\n  userId: (meta.userId || '').toString().trim() || null,\n  total_linhas: rows.length,\n  rows\n} }];"
      },
      "id": "a616734c-1f59-4d57-b3fd-c105ffaaa30b",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [496, 192]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wl_create_plano($1, $2::date) AS plano_id;",
        "options": {
          "queryReplacement": "={{ [$json.label, $json.competencia] }}"
        }
      },
      "id": "bd734227-65fb-4294-8a1c-9cdd7f477116",
      "name": "Create Plano",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [672, 192],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wl_ingest_necessidades($1::uuid, $2::jsonb) AS data;",
        "options": {
          "queryReplacement": "={{ [$json.plano_id, JSON.stringify($('Build Payload').first().json.rows)] }}"
        }
      },
      "id": "c9916e1d-f53c-4fa2-b0c8-23cf2e7f273b",
      "name": "Ingest Necessidades",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [896, 192],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wl_finalize_plano($1::uuid) AS data;",
        "options": {
          "queryReplacement": "={{ [$('Create Plano').first().json.plano_id] }}"
        }
      },
      "id": "ee3ffd15-a0b5-4b44-8cde-b292a16a9711",
      "name": "Finalize Plano",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 192],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"plano_id\": \"{{ $('Create Plano').first().json.plano_id }}\", \"inseridos\": {{ $('Ingest Necessidades').first().json.data.inseridos || 0 }} }",
        "options": {}
      },
      "id": "3fcc33b4-241c-40aa-9376-03c17985bafd",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1328, 192]
    }
  ],
  "connections": {
    "Receive Report": {
      "main": [
        [
          {
            "node": "Detect Kind",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Kind": {
      "main": [
        [
          {
            "node": "É PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É PDF?": {
      "main": [
        [
          {
            "node": "Extract PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Spreadsheet": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Create Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Plano": {
      "main": [
        [
          {
            "node": "Ingest Necessidades",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest Necessidades": {
      "main": [
        [
          {
            "node": "Finalize Plano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Plano": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
