welmy-pcp-agent/workspaces/Welmy-Inventario.json
{
  "name": "Welmy-Inventario",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "welmy-inventario",
        "responseMode": "responseNode",
        "options": { "binaryData": true, "rawBody": false }
      },
      "id": "d0000001-0000-4000-8000-000000000001",
      "name": "Receive Inventory",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "welmy-inventario"
    },
    {
      "parameters": {
        "jsCode": "// Descobre o tipo do arquivo (PDF x planilha) e carrega os metadados do upload.\nconst item = $input.first();\nconst bin = (item.binary && item.binary.data) || {};\nconst name = (bin.fileName || '').toString().toLowerCase();\nconst mime = (bin.mimeType || '').toString().toLowerCase();\nlet kind = 'spreadsheet';\nif (name.endsWith('.pdf') || mime.includes('pdf')) kind = 'pdf';\nconst body = ($('Receive Inventory').first().json.body) || {};\nreturn [{\n  json: {\n    kind,\n    arquivo: bin.fileName || 'Registro de Inventário',\n    userId: (body.userId || '').toString().trim() || null\n  },\n  binary: item.binary\n}];"
      },
      "id": "d0000002-0000-4000-8000-000000000002",
      "name": "Detect Kind",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose", "version": 2 },
          "conditions": [
            {
              "id": "k1",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "pdf",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0000003-0000-4000-8000-000000000003",
      "name": "É PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "d0000004-0000-4000-8000-000000000004",
      "name": "Extract PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [660, -120]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "data",
        "options": { "headerRow": true, "rawData": false }
      },
      "id": "d0000005-0000-4000-8000-000000000005",
      "name": "Extract Spreadsheet",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [660, 120]
    },
    {
      "parameters": {
        "jsCode": "// Normaliza as linhas do Registro de Inventário para o formato esperado por\n// wl_ingest_inventario (codigo, descricao, quantidade, unidade, valor_unitario, grupo).\n// Funciona tanto para planilha (Excel/CSV) quanto para PDF (parser best-effort).\nconst meta = $('Detect Kind').first().json || {};\nconst items = $input.all();\nconst first = items[0] && items[0].json;\nconst isPdf = items.length === 1 && first && typeof first.text === 'string' && first.text.length > 40;\nlet rows = [];\n\nif (isPdf) {\n  const lines = first.text.split(/\\r?\\n/);\n  let grupo = null;\n  const reGrupo = /Grupo de Estoque\\s*:?\\s*(.+)/i;\n  // NCM  codigo - descricao  quantidade  unidade  valor_unit  valor_total\n  const reItem = /^([0-9][0-9.]{4,11})\\s+(.+?)\\s+([0-9.]*[0-9],[0-9]+)\\s+([A-Za-z]{1,3})\\s+([0-9.]*[0-9],[0-9]+)\\s+([0-9.]*[0-9],[0-9]+)\\s*$/;\n  for (const raw of lines) {\n    const line = (raw || '').trim();\n    if (!line) continue;\n    const g = line.match(reGrupo);\n    if (g) { grupo = g[1].trim(); continue; }\n    const m = line.match(reItem);\n    if (!m) continue;\n    const rest = m[2].trim();\n    const dash = rest.indexOf(' - ');\n    const codigo = dash >= 0 ? rest.slice(0, dash).trim() : rest.split(/\\s+/)[0];\n    const descricao = dash >= 0 ? rest.slice(dash + 3).trim() : rest;\n    rows.push({ codigo, descricao, quantidade: m[3], unidade: m[4], valor_unitario: m[5], grupo });\n  }\n} else {\n  rows = items\n    .map((i) => i.json)\n    .filter((o) => o && Object.keys(o).length)\n    .map((o) => {\n      const out = {};\n      for (const k of Object.keys(o)) out[k.toString().trim().toLowerCase().replace(/\\s+/g, '_')] = o[k];\n      return out;\n    });\n}\n\nreturn [{ json: { arquivo: meta.arquivo, total_linhas: rows.length, rows } }];"
      },
      "id": "d0000006-0000-4000-8000-000000000006",
      "name": "Build Inventory Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 0]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT wl_ingest_inventario($1, $2::jsonb) AS data;",
        "options": { "queryReplacement": "={{ [$json.arquivo, JSON.stringify($json.rows)] }}" }
      },
      "id": "d0000007-0000-4000-8000-000000000007",
      "name": "Ingest Inventário",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 0],
      "credentials": { "postgres": { "id": "REPLACE_ME_WELMY_DB", "name": "Welmy-DB" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"atualizados\": {{ $('Ingest Inventário').first().json.data.atualizados || 0 }}, \"criados\": {{ $('Ingest Inventário').first().json.data.criados || 0 }}, \"total\": {{ $('Ingest Inventário').first().json.data.total || 0 }} }",
        "options": {}
      },
      "id": "d0000008-0000-4000-8000-000000000008",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 0]
    }
  ],
  "connections": {
    "Receive Inventory": { "main": [[{ "node": "Detect Kind", "type": "main", "index": 0 }]] },
    "Detect Kind": { "main": [[{ "node": "É PDF?", "type": "main", "index": 0 }]] },
    "É PDF?": {
      "main": [
        [{ "node": "Extract PDF", "type": "main", "index": 0 }],
        [{ "node": "Extract Spreadsheet", "type": "main", "index": 0 }]
      ]
    },
    "Extract PDF": { "main": [[{ "node": "Build Inventory Rows", "type": "main", "index": 0 }]] },
    "Extract Spreadsheet": { "main": [[{ "node": "Build Inventory Rows", "type": "main", "index": 0 }]] },
    "Build Inventory Rows": { "main": [[{ "node": "Ingest Inventário", "type": "main", "index": 0 }]] },
    "Ingest Inventário": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "active": true,
  "settings": { "executionOrder": "v1" },
  "id": "WelmyInventario",
  "tags": []
}
